*{
box-sizing:border-box;
margin:0;
padding:0;
}


body{

background:
radial-gradient(circle,#06434c,#020b16);

font-family:Arial,sans-serif;

color:white;

min-height:100vh;

}


.app{

padding:25px 20px 170px;

}



/* LOGO */

.logo{

text-align:center;

margin-bottom:30px;

}


.logo h1{

font-size:60px;

letter-spacing:12px;

text-shadow:0 0 30px cyan;

}


.logo span{

font-size:35px;

letter-spacing:15px;

color:#6580ff;

}



/* BALANCE */

.balance{

max-width:650px;

margin:auto;

padding:25px;

border-radius:35px;

background:rgba(255,255,255,.12);

border:2px solid rgba(255,255,255,.25);

text-align:center;

}


.balance p{

font-size:22px;

letter-spacing:10px;

color:#cbd7ff;

}


.balance h2{

font-size:75px;

margin:10px;

text-shadow:0 0 25px cyan;

}



.level{

padding:15px;

border-radius:40px;

background:linear-gradient(90deg,#00d4ff,#4775ff);

font-size:25px;

}




/* SPIDER BUTTON */


.spider-area{

display:flex;

justify-content:center;

margin-top:60px;

}


.spider-button{

width:280px;

height:280px;

border-radius:50%;

background:

radial-gradient(circle,#00ffff55,#001820);

border:3px solid white;

box-shadow:

0 0 40px cyan,

0 0 90px cyan;

display:flex;

align-items:center;

justify-content:center;

}


.spider-symbol{

font-size:120px;

filter:

drop-shadow(0 0 25px cyan);

}



/* MENU */


.bottom-menu{

position:fixed;

bottom:25px;

left:20px;

right:20px;

height:110px;

border-radius:60px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(20px);

display:flex;

justify-content:space-around;

align-items:center;

}


.bottom-menu button{

background:none;

border:0;

color:white;

font-size:18px;

display:flex;

flex-direction:column;

gap:8px;

}


.bottom-menu .active{

color:#00ffff;

}
