*{
box-sizing:border-box;
margin:0;
padding:0;
}


body{

background:
radial-gradient(circle at top,#3b2500,#050505 55%,#000);

font-family:Arial,sans-serif;

color:white;

min-height:100vh;

}



.app{

padding:25px 18px 140px;

}



/* HEADER */

.casino-header{

text-align:center;

margin-bottom:30px;

}


.casino-header h1{

font-size:65px;

letter-spacing:12px;

color:#ffd700;

text-shadow:
0 0 15px #ffd700,
0 0 40px #ff8c00;

}


.casino-header p{

font-size:28px;

letter-spacing:18px;

color:#fff2a6;

}





/* BALANCE */


.balance-box{

background:
linear-gradient(
145deg,
rgba(255,215,0,.25),
rgba(255,255,255,.08)
);


border:2px solid #d4af37;

border-radius:35px;

padding:30px;

text-align:center;

box-shadow:

0 0 30px #b88600;


}



.balance-box span{

font-size:22px;

letter-spacing:8px;

color:#ffe9a3;

}



.balance-box h2{

font-size:70px;

margin:15px;

color:#fff;

text-shadow:

0 0 20px gold;

}



.currency{

font-size:18px;

color:#ffd700;

}





/* GAMES */


.games{

margin-top:35px;

}



.games h3{

font-size:30px;

margin-bottom:20px;

color:#ffd700;

}





.game-card{

display:flex;

align-items:center;

gap:20px;

background:

rgba(255,255,255,.08);

border:1px solid rgba(255,215,0,.5);

border-radius:25px;

padding:15px;

margin-bottom:18px;


backdrop-filter:blur(15px);

}



.game-card img{

width:90px;

height:90px;

border-radius:20px;

object-fit:cover;

}



.game-card h2{

font-size:22px;

margin-bottom:12px;

}




.game-card button{

width:120px;

height:40px;

border:none;

border-radius:25px;

background:

linear-gradient(
90deg,
#ffd700,
#ff9500
);


font-size:18px;

font-weight:bold;

color:#000;


}




/* MENU */


.menu{

position:fixed;

bottom:20px;

left:15px;

right:15px;

height:95px;


border-radius:50px;


background:

rgba(30,30,30,.8);


border:

1px solid rgba(255,215,0,.5);


backdrop-filter:blur(20px);


display:flex;

justify-content:space-around;

align-items:center;


box-shadow:

0 0 30px black;


}



.menu button{


background:none;

border:0;

color:white;

font-size:28px;


display:flex;

flex-direction:column;

align-items:center;

gap:5px;


}



.menu span{

font-size:13px;

color:#ffd700;

}




button:active{

transform:scale(.95);

}
